<% include layouts/header %>

<h1>This is the Secret page - That means you logged in, didn't you?</h1>

<img src="https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1050&q=80
1050w" alt="Image of Stockholm">


<% include layouts/footer %>